@model IEnumerable<HairSalonManagement.Models.Employee>

<h2>@ViewBag.SalonName - Çalışanlar</h2>
<a asp-action="Index" asp-controller="Salon" class="btn btn-secondary">Salonlar</a>
<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Çalışma Saatleri</th>
            <th>Hizmetler</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.StartTime - @employee.EndTime</td>
                <td>
                    @if(employee.EmployeeServices != null)
                    {
                        @foreach (var service in employee.EmployeeServices)
                        {
                            @if (service.Service != null)
                            {
                                <span>@service.Service.Name</span><br />
                            }
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-warning">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" asp-route-salonId="@ViewBag.SalonId" class="btn btn-primary">Yeni Çalışan Ekle</a>