@model IEnumerable<HairSalonManagement.Models.Appointment>

<h2>Tüm Randevular</h2>

<table class="table">
    <thead>
        <tr>
            <th>Hizmet</th>
            <th>Tarih ve Saat</th>
            <th>Çalışan</th>
            <th>Süre</th>
            <th>Durum</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.Service</td>
                <td>@appointment.AppointmentDate.ToString("g")</td>
                <td>@appointment.Employee.Name</td>
                <td>@appointment.Duration</td>
                <td>@(appointment.IsConfirmed ? "Onaylandı" : "Onay Bekliyor")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@appointment.Id" class="btn btn-info">Detaylar</a>
                    <a asp-action="Edit" asp-route-id="@appointment.Id" class="btn btn-warning">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@appointment.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
